<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <header>
        <h1></h1>
    </header>
    <main>
        <form action="/calcular" method="get">
            <input type="text" name="nome" id="" placeholder="Digite seu nome:"><br>
            <input type="email" name="email" id="" placeholder="Digite seu e-mail:"><br>
            <input type="tel" name="telefone" id="" placeholder="Digite seu telefone:"><br>
            <input type="text" name="empresa" id="" placeholder="Digite o nome da empresa:"><br>
            <input type="text" name="assunto" id="" placeholder="assunto:"><br>
            <textarea name="msg" id="" cols="30" rows="10" placeholder="Mensagem:"></textarea><br>
            <button type="submit">Criar arquivo</button>
        </form>
    </main>
    <p>{{valor}}</p>
    
</body>
</html>