@charset "UTF-8";
aside{
    min-width: 300px;
    max-width: 700px;
    background-color: antiquewhite;
    padding: 30px;
    margin: auto;
    border-radius: 20px;
}
div#alinhar{
    min-width: 200px;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
}
div#alinharV{
    display: flex;
    align-items: center;
    margin: 20px;
}
#imgescola{
    background-color: #fff;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 1px 1px 2px black;
}
#alinharV h2{
    margin-left: 16px;
}
article#contatos_prof{
    min-width: 300px;
    max-width: 700px;
    min-height: 200px;
    margin: auto;
    margin-top: 10vh;
    padding: 20px;
    border-radius: 20px;
}
article > h3{
    background-color: #8ad429;
    color: black;
    padding: 10px;
    margin: -20px -20px 0 -20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}
article > ul{
    list-style-position: inside;
    /*columns: 2;*/
    text-align: center;
    
}
div > ul{
    list-style-position: inside;
    text-align: center;
}
li > a{
    font-size: 2em;
    font-weight: bold;
    color: black;
    
}
#coluna{
    text-align: left;
    columns: 2;
}
@media screen and (max-width: 500px) {
    div#alinhar{
        display: block;
    }
    div#alinharV{
        display: block;
    }
    #coluna{
        columns: 1;
    }
    div > ul{
        list-style-type: none;
    }
}