@charset "UTF-8";
a.estilo_link{
    text-decoration: none; /*remove decorações tipo underline*/
    color: black;
    font-weight: bold;
    font-size: 1.1em; 
    margin: 10px;
    padding: 7px;
    border-radius: 5px; /*deixa as pontas arredondadas*/
    transition: linear 200ms; /*transição p ser usada com :hover, :focus, :active etc*/
    box-shadow: 1px 1px 2px black;
    border-style: solid; /*estilo da borda, existe, sem borda, pontilhada, etc*/
    border-color: transparent; 
    background-color: #ff8f5c;
}
a.estilo_link:hover{ /*hover, ao passar o cursor acima do link isso acontece*/
    text-decoration: none;
    border-style: solid;
    border-color: white;
    color: white;
}
li > a:hover{
    color: black;
}
/*
select{
    font-size: 1.1em;
    color: #000000;
    font-weight: bold;
    background-color: #ff8f5c;
    padding: 10px;
    border-radius: 5px;
    border-color: #ff8f5c;
    box-shadow: 1px 1px 2px black;
    transition: linear 200ms;
}
select:hover{
    text-decoration: none;
    border-color: white;
    color: white;
}
select:focus{
    border-color: white;
}
option{
    color: black;
    background-color: white;
    font-size: 1.2em;
    border-radius: 20px;
    transition: linear 300ms;
}
*/