@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #d9f3f3;
}
header{
    min-width: 200px;
    min-height: 30px;
    padding: 30px;
    background-color: #65befa;    
}
header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}
nav{
    min-width: 200px;
    min-height: 30px;
    padding: 10px;
    background-color: #65befa;
    box-shadow: 1px 1px 2px #40799e;
}
nav a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 20px;
    color: white;
    text-decoration: none;
    transition: 300ms;
}
nav a:hover{
    text-decoration: underline;
    color: gray;
}
main{
    min-width: 200px;
    max-width: 1200px;
    min-height: 500px;
    background-color: white;
    margin: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 1px 1px 2px #0000008c;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
}
form{
    width: 500px;
    box-shadow: 4px 4px 10px 0px black;
    border-radius: 20px;
    margin: auto;
    padding: 30px;
    font-size: 1.2em;
}
form input{
    display: block;
    font-size: 1.1em;
    margin: auto;
    margin-top: 2vh;
    padding: 4px;
    min-width: 200px;
}
form button{
    display: block;
    margin: auto;
    margin-top: 1.2vh;
    padding: 10px;
    font-size: 1.2em;
}
form select{
    display: block;
    margin: auto;
    font-size: 1em;
    padding: 4px;
}
#tabela {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
#tabela td, #tabela th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#tabela tr:nth-child(even){background-color: #f2f2f2;}
  
#tabela tr:hover {background-color: #ddd;}
  
#tabela th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
#t{
    text-align: center;
}
button:hover{
    cursor: pointer;
}
.msg{
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    margin: 20px;
}
.linkmsg{
    font-size: 1.2em;
    display: block;
    margin: auto;
    text-align: center;
}