@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
header{
    min-width: 200px;
    min-height: 50px;
    padding: 50px;
    font-size: 2em;
    background-color: #4f4fcf;
    text-align: center;
}
nav{
    min-width: 200px;
    min-height: 20px;
    padding: 10px;
    background-color: #4f4fcf;
}
nav a{
    text-decoration: none;
    color: white;
}
main{
    min-width: 300px;
    max-width: 1000px;
    min-height: 500px;
    background-color: #c7fafa;
    margin: auto;
    margin-top: 10vh;
    border-radius: 20px;
    padding: 30px;
}
form{
    min-width: 200px;
    max-width: 500px;
    background-color: white;
    font-size: 1.2em;
    min-height: 200px;
    margin: auto;
    padding: 30px;


}
input{
    font-size: 1.2em;
    min-width: 100px;
}